.topnav {
    background-color: #205c29;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #fafafa;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover{
    background-color: #ddd;
    color: black;
}

.topnav a.active{
    background-color: #04AA6D;
    color: white;
}


.banner-image {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.banner-image-2 {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

.banner-image-3 {
    width: 100%;
    height: 30px ;
    display: block;
    margin: 0 auto;
}

.banner-image-4 {
    width: 100%;
    height: 600px ;
    display: block;
    margin: 0 auto;
}
.green-strip {
     height: 30px; /* Adjust height as needed */
     background-color: green; /* Or any green shade */
     width: 100%;
     position: fixed; /* Keeps the strip at the bottom */
     bottom: 0; /* Position at the bottom of the page */
     left: 0; /* Position at the left of the page */
     z-index: 10; /* Ensures it's above other content */
    }

h3 {
    color:#0a471a;
}

p {
    margin-inline: 15px;
}

.banner-image-5 {
    width: 100%;
    height: 700px ;
    display: block;
    margin: 0 auto;
    }